nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 3rem;
    justify-content: space-around;
    padding: 0 1rem;
    width: 100%;

    @media #{$md-viewport} {
        flex-direction: row;
        height: 4rem;
        justify-content: space-between;
        margin-top: 0.5rem;
        padding: 0 2rem;
    }

    #site-logo {
        color: $grey-light;
        text-decoration: none;
            
        h1 {
            font-size: 1rem;
            line-height: 1.5rem;
            margin-bottom: 0;

            @media #{$md-viewport} {
                font-size: 1.25rem;
                line-height: 2rem;
            }
        }

        span {
            color: $white;
        }
    }

    #site-nav {
        display: flex;

        li {
            margin-left: 1rem;

            a {
                color: $grey-light;
                display: block; 
                line-height: 1rem;
                padding: 0 0.5rem;
                text-decoration: none;

                @media #{$md-viewport} {
                    line-height: 2rem;
                    padding: 0.5rem 1rem;
                }

                &.active {
                    a {
                        cursor: default;
                    }
                }

                &:hover:not(.active) {
                    text-decoration: underline;

                    @media #{$md-viewport} {
                        background-color: $black-ter;
                        border-radius: $border-radius-md;
                        text-decoration: none;
                    }
                }
            }

            &.active {
                a {
                    color: $white;
                }
            }
        }
    }
}