@import 'variables';


main {
    .word-effect-flex {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;

        h1 {
            font-size: 2rem;
    
            @media #{$md-viewport} {
                font-size: 3rem;
            }
    
            @media #{$lg-viewport} {
                font-size: 4rem;
            }
        }
    }
}